header
  div.header__inner
    div.header__content
      img.header__logo(src="../public/images/logo.png")
      nav.header__util-nav
        ul
          li.header__util-nav__item
            a Sign in
          li.header__util-nav__item
            a My Starbucks
          li.header__util-nav__item
            a Customer Service & Ideas
          li.header__util-nav__item
            a Find a Store
          li.header__util-nav__item-btn
            img.btn-search(src="../public/images/search-icon.png")
      nav.header__gnb-nav
        ul
          li.header__gnb_nav__item
            a COFFEE
          li.header__gnb_nav__item
            a MENU
          li.header__gnb_nav__item
            a STORE
          li.header__gnb_nav__item
            a RESPONSIBILITY
          li.header__gnb_nav__item
            a STARTBUCKS REWARD
          li.header__gnb_nav__item
            a WHAT'S NEW

