doctype html
html(len="ko")
  head
    link(rel="stylesheet", href=`/public/css/layout.css`)
    block src
  body
    header
      div.header__inner
        div.header__content
          img.header__logo(src="../public/images/logo.png")
          nav.header__util-nav
            ul
              li.header__util-nav__item
                a Sign in
              li.header__util-nav__item
                a My Starbucks
              li.header__util-nav__item
                a Customer Service & Ideas
              li.header__util-nav__item
                a Find a Store
              li.header__util-nav__item-btn
                img.btn-search(src="../public/images/search-icon.png")
          nav.header__gnb-nav
            ul
              li.header__gnb_nav__item
                a COFFEE
              li.header__gnb_nav__item
                a MENU
              li.header__gnb_nav__item
                a STORE
              li.header__gnb_nav__item
                a RESPONSIBILITY
              li.header__gnb_nav__item
                a STARTBUCKS REWARD
              li.header__gnb_nav__item
                a WHAT'S NEW
    div.container
      block content
    footer
      div.footer__inner
        div.footer__menu
          ul.footer__menu__item
            li.footer__menu__item--title COMPANY
            li 한눈에 보기
            li 스타벅스 사명
            li 스타벅스 소개
            li 국내 뉴스룸
            li 세계의 스타벅스
            li 글로벌 뉴스룸
          ul.footer__menu__item
            li.footer__menu__item--title CORPORATE SALES
            li 단체 및 기업 구매 안내
          ul.footer__menu__item
            li.footer__menu__item--title PARTNERSHIP
            li 신규 입점 제의
            li 협력 고객사 등록신청
          ul.footer__menu__item
            li.footer__menu__item--title ONLINE COMMUNITY
            li 페이스북
            li 트위터
            li 유튜브
            li 블로그
            li 인스타그램
          ul.footer__menu__item
            li.footer__menu__item--title RECRUIT
            li 채용 소개
            li 채용 지원하기
        div.footer__award__container
          div.footer__award__inner
            img(src="../public/images/footer-award-01.jpg")
            img(src="../public/images/footer-award-02.jpg")
            img(src="../public/images/footer-award-03.jpg")
            img(src="../public/images/footer-award-04.jpg")
            img(src="../public/images/footer-award-05.jpg")
            img(src="../public/images/footer-award-06.jpg")
        aside.footer__copyright
          a.footer__copyright--rule.footer__copyright--privacy 개인정보처리방침
          a.footer__copyright--rule 영상정보처리기기 운영관리 방침
          a.footer__copyright--rule 홈페이지 이용약관
          a.footer__copyright--rule 위치정보 이용약관
          a.footer__copyright--rule 스타벅스 카드 이용약관
          a.footer__copyright--rule 비회원 이용약관
          a.footer__copyright--rule My DT Pass 서비스 이용약관
          a.footer__copyright--rule 윤리경영 핫라인
          br
          a.footer__copyright--btn 찾아오시는 길
          a.footer__copyright--btn 신규입점제의
          a.footer__copyright--btn 사이트 맵
          div.footer__copyright__menu
            ul
              li 사업자등록번호 : 201-81-21515
              li (주)스타벅스커피 코리아 대표이사 : 송 데이비드 호섭
              li TEL : 1522-3232
              li 개인정보 책임자 : 하익성
          span ⓒ 2021 Starbucks Coffee Company. All Rights Reserved.