* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-wrap {
  background-image: url("../images/login_bg.jpg");
  background-attachment: fixed;
}

.login-form-container {
  padding: 70px 0px;
}

.login-form-container__title {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.login-form-container .content {
  background-color: #fff;
  border-radius: 3px;
  max-width: 570px;
  margin: auto;
}

.login-form-container .content__greeting {
  padding: 30px 20px;
  color: #777;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.login-form-container .content__greeting span {
  color: #006633;
}

.login-form-container .content__input-container {
  padding: 20px;
}

.login-form-container .input__item {
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-form-container .pointer:hover {
  cursor: pointer;
}

.login-form-container .input__remember {
  margin-bottom: 20px;
}

.login-form-container .input__remember label {
  font-size: 16px;
  color: #3f4141;
}

.login-form-container .input__btn button {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 3px;
  background-color: #006633;
  color: #fff;
  font-size: 24px;
}

.login-form-container .input__warn {
  color: #006633;
  font-size: 14px;
  margin-top: 15px;
}

.login-form-container .content__nav ul {
  width: 100%;
  height: 54px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.login-form-container .content__nav li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container .content__nav a {
  width: 100%;
  height: 20px;
  border-right: 1px solid #ddd;
  text-decoration: none;
  font-size: 16px;
}

.login-form-container .content__nav .last {
  border: none;
}

.login-form-container .content__nav a:link {
  color: #666;
}

.login-form-container .content__nav a:visited {
  color: #666;
}
